body{
    margin:0;
    padding:0;
}

header{
    background-color:#fff;
    margin:0;
    padding:0;
    text-align:center;
    height:50px;
}

.links{
    display:inline-block;
    height:100%;
}

.page-title{
    padding: 0px 25px;
    line-height: 46px;
    background-color:#4aaaa5;
    color:#fff;
    display:inline-block;
    margin-right:270px;
    height:100%;
}

section{
    background-color:#eee;
}

footer{
    background-color:#666;
}


a, a:visited, a:hover{
    color:#333;
}